body{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar{
    /* background: #000; */
    width: 400px;
    height: 30px;
    border: none 5px;
    padding: 0 10px;
}

#content{
    width: 80%;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.movie-img{
    background-color: aquamarine;
    width: 250px;
    height: 280px;
    border-radius: 5px;
    margin-top: 20px;
}

.movie-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    min-height: 400px;
    background-color: beige;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}

.movie-item .movie-title,
.movie-item .movie-desc{
    margin: 5px 0;
}

.movie-desc{
    max-width: 250px;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}